{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Versions</h4>
                  <p class="card-category">版本管理</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4">
                      <table class="table-striped table-hover" style="table-layout:fixed" width="100%">
                        <thead>
                            <th width="45" >大版本</th>
                            <th>前端版本</th>
                            <th>日期</th>
                        </thead>
                        <tbody id="verlist">
                          <!-- ajax返回 -->
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" id="onVerDesc" rows="13" readonly></textarea>
                    </div>
                  </div>
                  <button id="addver_1" class="btn btn-sm btn-info pull-right">增加小版本</button>
                  <button id="addver_2" class="btn btn-sm btn-danger pull-right">增加大版本</button>
                  
                  <div class="clearfix"></div>
                  {% include 'modals/modal_addVersion.html' %}
                </div>
              </div>
            </div>
          </div>
            <!-- <div class="row">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Settings</h4>
                    <p class="card-category">系统设置</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="bmd-label-floating">UserID (disabled)</label>
                            <input type="text" class="form-control" disabled value="{{ current_user.id }}">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label class="bmd-label-floating">Username</label>
                            <input type="text" class="form-control" value="{{ current_user.username }}">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Email address</label>
                            <input type="email" class="form-control" value="{{ current_user.email }}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Fist Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="bmd-label-floating">Last Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Adress</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">City</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Country</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label class="bmd-label-floating">Postal Code</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>About Me</label>
                            <div class="form-group">
                              <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                              <textarea class="form-control" rows="5"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div>
                <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title">Settings</h4>
                      <p class="card-category">系统设置</p>
                      <form class="form-inline ml-auto">
                        <button id="addUser" type="button" class="btn btn-just-icon" data-backdrop="false" data-toggle="modal">
                          <a class="material-icons">add_task</a>
                          <div class="ripple-container"></div>
                        </button>
                      </form>
                  </div>
                  {% include 'modals/modal_addUser.html' %}
                  <div class="card-body">
                      <table class="table-striped table-hover" style="table-layout:fixed" width="100%">
                          <thead>
                              <th>帐号</th>
                              <th>姓名</th>
                              <th>操作</th>
                          </thead>
                          <tbody id="crews">
                            <!-- ajax返回 -->
                          </tbody>
                      </table>
                  </div>
                </div>
            </div>
          </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block scripts %}
  <script src="/static/assets/modal/settingsCommon.js"></script>
{% endblock scripts %}
