<!-- Modal -->
<div class="modal fade" id="addVerModal" tabindex="-1" role="dialog" aria-labelledby="addVerModalLabel" aria-hidden="false">
    <div class="modal-dialog" style="margin-top:20%;">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">版本</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y: scroll">
            <form>
                <div class="form-group">
                    <label for="version_name" >增加版本号</label>
                    <input id="version_name" type="text" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="version_name" >版本信息</label>
                    <textarea id="version_desc" class="form-control" rows="8" placeholder="详细描述版本内容"></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button id="addVerCommit" type="submit" class="btn btn-primary" data-dismiss="modal">提交</button>
        </div>
        </div>
    </div>
</div>