<!-- Modal -->
<div class="modal fade" id="addProjModal" tabindex="-1" role="dialog" aria-labelledby="addProjModalLabel" aria-hidden="false">
    <div class="modal-dialog" style="margin-top:20%;">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addProjModalLabel">项目设置</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y: scroll">
            <form>
                <div class="form-group">
                    <label for="proj_name" >项目名</label>
                    <input id="proj_name" type="text" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="proj_alias" >项目简称</label>
                    <input id="proj_alias" type="text" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="lang_name" >语言版本</label>
                    <input id="lang_name" type="text" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="lang_alias" >语言简称</label>
                    <input id="lang_alias" type="text" class="form-control" autocomplete="off">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button id="addProjCommit" type="submit" class="btn btn-primary" data-dismiss="modal">提交</button>
        </div>
        </div>
    </div>
</div>