<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="bugCommitModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-lg" style="margin-top:20%;margin-left:20%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bugCommitModalLabel">出了什么问题？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: scroll">
        <form>
          <div class="form-group">
            <label for="caseText0" form-control>Case</label>
            <input type="text" class="form-control" id="caseText0" placeholder="简洁清晰地描述" autocomplete="off">
          </div>
        </form>
        <form>
          <div class="form-group">
            <label for="caseDesc0">Desc</label>
            <textarea class="form-control" rows="5" id="caseDesc0" placeholder="简洁清晰地描述"></textarea>
          </div>
        </form>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-1 control-label">类型</label>
            <select id="case_type" class="col-sm-2">
              <option value="case1">BUG</option>
              <option value="case2">策划调整</option>
              <option value="case3">程序调整</option>
            </select>
            <label class="col-sm-1 control-label">版本</label>
            <select id="select_ver" class="col-sm-2">
              <option>暂无</option>
            </select>
            <label class="col-sm-1 control-label">状态</label>
            <select class="col-sm-2">
              <option>待发布</option>
              <option>发布</option>
              <option>修复</option>
              <option>关闭</option>
            </select>
          </div>
        </form>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-1 control-label">类型</label>
            <select class="col-sm-2">
              <option>无</option>
            </select>
            <label class="col-sm-1 control-label">状态</label>
            <select class="col-sm-2">
              <option>待发布</option>
              <option>发布</option>
              <option>修复</option>
              <option>关闭</option>
            </select>
            <label class="col-sm-1 control-label">版本</label>
            <select class="col-sm-2">
              <option selected="">1.5.0</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
              <option>1.5.1</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button id="caseCommit0" type="submit" class="btn btn-primary" data-dismiss="modal">提交</button>
      </div>
    </div>
  </div>
</div>