{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Create Account
                </h4>
            </div>
            <div class="card-body">

                <h6 class="card-category">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    Add your credentials
                {% endif %} 
                </h6>
                
                <br />
                <br />

                <!-- Hide the form on success -->
                {% if not success %}
                    <form role="form" method="post" action="">

                        {{ form.hidden_tag() }}                    

                        <div class="input-group mb-3">
                            {{ form.username(placeholder="用户名", class="form-control") }}
                        </div>

                        <div class="input-group mb-4">
                            {{ form.password(placeholder="密码", class="form-control", type="password") }}
                        </div>

                        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">注册</button>

                    </form>
                    
                    <p class="mb-0 text-muted">Already have an account? <a href="{{ url_for('base_blueprint.login') }}" >登录</a></p>
                    <br />
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
