    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="#" class="simple-text logo-normal">
          YF5测试平台
        </a>
      </div>
      <div class="sidebar-wrapper">
        
        <ul class="nav">

          {% if current_user.is_authenticated %}
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/index">
              <i class="material-icons">space_dashboard</i>
              <p>版本内容</p>
            </a>
          </li>
          <li class="nav-item {% if 'case_online' in segment %} active {% endif %}">
            <a class="nav-link" href="/case_online">
              <i class="material-icons">view_list</i>
              <p>线上修改记录</p>
            </a>
          </li>
          <li class="nav-item {% if 'dev' in segment %} active {% endif %}">
            <a class="nav-link" href="/dev">
              <i class="material-icons">view_list</i>
              <p>项目开发信息</p>
            </a>
          </li>
          <li class="nav-item {% if 'schedule' in segment %} active {% endif %}">
            <a class="nav-link" href="/case_online">
              <i class="material-icons">event</i>
              <p>定时任务</p>
            </a>
          </li>
          <li class="nav-item {% if 'autotest' in segment %} active {% endif %}">
            <a class="nav-link" href="/autotest">
              <i class="material-icons">code</i>
              <p>自动化</p>
            </a>
          </li>
          <li class="nav-item {% if 'testcase' in segment %} active {% endif %}">
            <a class="nav-link" href="/testcase">
              <i class="material-icons">content_paste</i>
              <p>测试用例</p>
            </a>
          </li>
          <li class="nav-item {% if 'wiki' in segment %} active {% endif %}">
            <a class="nav-link" href="{{ url_for('wiki_blueprint.wiki') }}">
              <i class="material-icons">content_paste</i>
              <p>wiki</p>
            </a>
          </li>

          <li class="nav-item active-pro ">
            <a target="_blank" rel="noopener noreferrer"  
               class="nav-link" href="">
               <i class="material-icons">cloud_download</i>
               <p>预留位</p>
            </a>
          </li>
          {% else %}
          <li class="nav-item ">
            <a target="_blank" rel="noopener noreferrer"  
               class="nav-link" href="">
              <i class="material-icons">cloud_download</i>
              <p>预留位</p>
            </a>
          </li>
          {% endif %}

        </ul>


      </div>

    </div>
